<div class="show-summary">
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <div *ngIf="Scastsummary">      
        <img class="card-image" [src]='Scastsummary?.image.medium' alt="Avatar">
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{Scastsummary?.name}}</h1>
        <div class="d-flex flex-row mb-3 card-details">
          <p><mat-icon class="display-4">star </mat-icon></p>
          <p class="display-4 flex-grow-1" >{{Scastsummary.rating?.average}}</p>
          <p class="p-2 display-4">{{Scastsummary?.schedule.time}}</p>
          <p class="p-2 text-success">{{Scastsummary?.language}}</p>
          <p class="p-2 text-success" *ngFor="let day of Scastsummary.schedule.days">{{day}}</p>
          
        </div>
        <p class="card-text">{{Scastsummary?.summary}}</p>
        <p class="card-text"><small class="text-body-secondary card-text" *ngFor="let cast of Scastsummary._embedded.cast"> {{cast?.person.name}}, </small></p>
      <div>
      <h3> Seasons</h3>
      <div class="seasons" *ngFor="let season of seasons" [value]="season.id">
        <span>{{season.number}}</span>
      </div>
      
      </div>
 
      

      
       
      </div>
    </div>
  </div>
</div>
</div>

