<div class="schedule-container">
  <div class="container" *ngIf="schedules">
    <h1 class="header">Today's Schedule</h1>
      <div class="schedulepage">
      <div *ngFor="let row of schedules|keyvalue">
          <mat-card>
            <mat-card-content class="content-card" >
             <h1 class="heading">Show Time: {{ row?.key }}</h1> 
            </mat-card-content>
            <mat-card-content class="show-card" *ngFor="let i of row.value" >
               <h2>{{ i?.show.name }}</h2> 
               <h3>{{i?.show.network?.name}}</h3>
              </mat-card-content>          
            </mat-card>      
        </div>
      </div>
  </div>
</div>