:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-body-darker: #5c5577;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography*/

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}


.toolbar {
  padding: 1rem;
  font-size: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  align-self: center;
}


a {
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
  padding: 2px;
}

a:hover {
  color: black;
  background: rgb(150, 211, 195);
  border-radius: 2px;

}




.homepage {
  background-image: url('/assets/images/tv.png');
}


.container {
  background-image: url('/assets/images/tv.png');
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

#show_name {
  font-weight: bold;
  text-align: center;
  padding-right: 30px;
}

.col-sm-3 {
  padding-bottom: 25px;


}

.row {
  background-image: url('/assets/images/tv.png');
}

.toolbar {
  margin-bottom: 30px;
  width: 100%;

}

#searchbox {
  text-align: left;
  margin: right;
  width: 60%;
  margin-left: 50%;

}