<!-- <app-current-shows class="view"></app-current-shows>  -->
<!-- <app-seasons-episodes></app-seasons-episodes> -->

<div>
  <mat-toolbar color="accent" class="toolbar">
    <div class="nav-items">
      <mat-icon (click)="gethomepage()">theaters</mat-icon>
      <h2>Variety TV Shows</h2>
    </div>

    <div class="nav-items">
      <a mat-button (click)="gethomepage()">Home</a>
      <a mat-button #Action id="Action" (click)="getShowsByGenre(Action)">Action</a><br>
      <a mat-button #Comedy id="Comedy" (click)="getShowsByGenre(Comedy)">Comedy</a><br>
      <a mat-button #Drama id="Drama" (click)="getShowsByGenre(Drama)">Drama</a><br>
      <a mat-button (click)="getshowschedule()">Schedules</a>
    </div>

    <app-searchbar (searchEvent)="doSearch($event)"></app-searchbar>

  </mat-toolbar>

  <app-search-show [searchShow]="currentShowName"></app-search-show>



  <router-outlet></router-outlet>
</div>