*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography*/

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%; 
  background-image: url('/assets/images/tv.png');
}

.nav-items {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-top:10px;
  font-size: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-items:hover {
  color: black;
  background: rgb(150, 211, 195);
  border-radius: 2px;
}

.logo {
  width: 150px;
  border-radius: 5px;

}

.logo:hover {
  cursor: pointer;
}

.search-bar{
  float: right;
  margin: 0;
  padding: 0;
}

